In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("I:/UKB_DATA/tsv_pheno/my_ef_dr.tsv",sep='\t')

In [2]:
df2 = pd.read_csv("I:/UKB_DATA/tsv_pheno/lv_ef_UKB.tsv",sep='\t')

In [10]:
df.merge(df2[['idx']], on='idx').to_csv("I:/UKB_DATA/tsv_pheno/my_ef_same.tsv",sep='\t')

In [5]:
df2

       Unnamed: 0      idx  pheno
0               0  1000012   45.0
1              14  1000158   52.0
2              25  1000262   56.0
3              35  1000369   60.0
4              47  1000489   57.0
...           ...      ...    ...
39619      502428  6024290   50.0
39620      502431  6024323   68.0
39621      502461  6024624   57.0
39622      502462  6024638   42.0
39623      502478  6024797   57.0

[39624 rows x 3 columns]

In [6]:
baseline = pd.read_csv("I:/UKB_DATA/tsv_pheno/lv_ef_UKB.tsv",sep='\t')

In [68]:
dfs=[]
noise=[]

In [69]:
for i in range(1,11):
    dfs.append(pd.read_csv(f"I:/UKB_DATA/tsv_pheno/lv_ef_n_sd{i}.tsv",sep='\t'))
    noise.append(i)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
def mae(y_true, predictions):
    y_true, predictions = np.array(y_true), np.array(predictions)
    return np.mean(np.abs(y_true - predictions))

In [72]:
mae = []
for i in range(0,10):
    mae.append(np.mean(np.abs( np.array(baseline.pheno -  dfs[i].pheno ))))

In [73]:
print(mae)

[0.7974894092204114, 1.5944157044835099, 2.386753120367201, 3.1839235327858577, 3.974958287642824, 4.793956323391434, 5.604128504715421, 6.380848492243782, 7.2283206927015735, 7.920859525929608]

In [59]:
a= pd.read_csv(f"I:/UKB_DATA/tsv_pheno/lv_ef_n_sd{10}.tsv",sep='\t')

In [65]:
np.mean(np.abs(np.array(baseline['pheno']-dfs[10].pheno)))

0.7974894092204114

In [67]:
noise

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
pd.DataFrame.from_dict({"Noise SD":noise, "MAE": mae})

   Noise SD       MAE
0         1  0.797489
1         2  1.594416
2         3  2.386753
3         4  3.183924
4         5  3.974958
5         6  4.793956
6         7  5.604129
7         8  6.380848
8         9  7.228321
9        10  7.920860

In [84]:
mae[9]-mae[10]

IndexError: list index out of range

In [10]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("I:/UKB_DATA/tsv_pheno/lv_ef_n_sd5.tsv",sep='\t')

In [20]:
df['pheno'] = np.array(df['pheno']>=50, dtype='uint8')

In [21]:
df.to_csv("I:/UKB_DATA/tsv_pheno/lv_b_sd5.tsv",sep='\t')

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("I:/UKB_DATA/tsv_pheno/my_ef_same.tsv",sep='\t')

In [9]:
df['pheno'].dropna()

0        0.611337
1        0.603642
2        0.642628
3        0.611097
4        0.715387
           ...
39511    0.713523
39512    0.601562
39513    0.540736
39514    0.606073
39515    0.488071
Name: pheno, Length: 39516, dtype: float64