In [1]:
import pandas as pd
import numpy as np

Need to get:


Age at first visit ukb45494  21003-0.0

Sex ukb45494 31-0.0

Ancestry (white british) ukb45494 21000-0.0

Body mass index (BMI) BMI.csv 21001-0.0

Hypertension Date ukb47615 131286-0.0

Pulse rate ukb47615 102-0.0

LVEF ukb45494 22420-2.0 

LVEDV ukb45494	22421-2.0	

LVES  ukb45494 22422-2.0	

Diabetes ukb47615 2443-0.0

Prior Myocardial Infarction Date ukb47615 42000-0.0 

BSA ukb45494 22427-2.0	

LVEDVi make it yourself

LVESVi make it yourself

TAKEN MRI OR NO

In [2]:
fields = ['eid', '21003-0.0', '31-0.0', '21000-0.0', '22420-2.0', '22421-2.0', '22422-2.0', '22427-2.0', '53-0.0']
df1 = pd.read_csv("I:/UKB_DATA/main_df/ukb45494.csv", usecols = fields)

In [3]:
df1 =df1.rename(columns = {'21003-0.0': 'age',
                    '31-0.0': 'sex',
                    '21000-0.0': 'ancestry',
                    '22420-2.0': 'LVEF',
                    '22421-2.0': 'LVEDV',
                    '22422-2.0': 'LVESV',
                    '22427-2.0': 'BSA',
                    '53-0.0': 'first_visit_date'
                   })

In [4]:
df1['LVEDVi'] = df1['LVEDV']/df1['BSA']
df1['LVESVi'] = df1['LVESV']/df1['BSA']

In [5]:
df1['ancestry'] = df1['ancestry']==1001.0

In [6]:
df1.to_csv("I:/UKB_DATA/table1/all_UKB.csv", index=False)

Next read BMI.csv

In [7]:
df = pd.read_csv("I:/UKB_DATA/table1/all_UKB.csv")

In [8]:
df2 = pd.read_csv("I:/UKB_DATA/main_df/BMI.csv")

In [9]:
df2[['eid', '21001-0.0']]

            eid  21001-0.0
0       1000012    22.8462
1       1000029    25.2788
2       1000031    21.9116
3       1000047    26.9560
4       1000050    21.8522
...         ...        ...
502408  6024860    22.1920
502409  6024874    23.0841
502410  6024887    32.5789
502411  6024893    20.8300
502412  6024902    29.1513

[502413 rows x 2 columns]

In [10]:
df2 = df2.rename(columns={'21001-0.0':'BMI'})

In [11]:
df = df.merge(df2, on='eid', how='left')

In [12]:
df.to_csv("I:/UKB_DATA/table1/all_UKB.csv", index=False)

Now read ukb47615

In [21]:
df = pd.read_csv("I:/UKB_DATA/table1/all_UKB.csv")

In [13]:
fields = ['eid', '131286-0.0', '2443-0.0', '42000-0.0', '102-0.0']
df3 = pd.read_csv("I:/UKB_DATA/main_df/ukb47615.csv", usecols=fields)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4885) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df3 = df3.rename(columns = {'131286-0.0':'hypertension' ,
                      '2443-0.0':'diabetes',
                      '42000-0.0':'MI',
                      '102-0.0': 'pulse_rate'})

In [19]:
df3['diabetes'] = df3['diabetes']==1

In [24]:
df3['MI'] = df3['MI'].fillna("2021-03-31")

In [25]:
df3['hypertension'] = df3['hypertension'].fillna("2021-03-31")

In [31]:
from datetime import date

In [30]:
df = df.merge(df3, on='eid', how='left')

In [32]:
def comes_after(date1,date2):
    """
    Arguments:
        date1 : str
            date in a format YYYY:MM:DD
        date 2 : str
            date in a format YYYY:MM:DD

        Checks if a date1 comes after date2
    """
    if(date.fromisoformat(date1) - date.fromisoformat(date2)).days > 0:
        return True
    else:
        return False

In [42]:
df['first_visit_date']=df['first_visit_date'].fillna('2008-01-08')

In [54]:
df['hypertension']

0         2021-03-31
1         2003-05-28
2         2021-03-31
3         2021-03-31
4         2016-09-19
             ...
502485    2021-03-31
502486    2021-03-31
502487    2021-03-31
502488    2003-01-22
502489    2018-02-01
Name: hypertension, Length: 502490, dtype: object

In [55]:
new_hyper=[]
new_MI=[]
for i in range(len(df)):
    try:
        new_hyper.append(comes_after(df['first_visit_date'][i],df['hypertension'][i])) 
    except:
        new_hyper.append(0)
    try: 
        new_MI.append(comes_after(df['first_visit_date'][i],df['MI'][i])) 
    except:
        new_MI.append(0)

In [59]:
df['hypertension']= np.array(new_hyper)

In [60]:
df['MI']= np.array(new_MI)

In [61]:
df.to_csv("I:/UKB_DATA/table1/all_UKB.csv", index=False)

# Now read ukb50105

In [62]:
df4 = pd.read_csv("I:/UKB_DATA/main_df/ukb47615.csv",  usecols=['eid', '102-0.0'])

In [63]:
df4 = df4.rename(columns={'102-0.0':'pulse_rate'})

In [64]:
df.merge(df4, on='eid', how='left').to_csv("I:/UKB_DATA/table1/all_UKB.csv", index=False)

# Check if underwent MRI or no by listing NIFTI files

In [82]:
df = pd.read_csv("I:/UKB_DATA/table1/all_UKB.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [83]:
import os
eid_taken_mri  = [] 
for eid in os.listdir("E:/UKBB_NIFTI"):
    try:
        eid_taken_mri.append(int(eid))
    except:
        print(eid)

csv

In [84]:
df['mri_taken'] = df.eid.isin(eid_taken_mri)

In [85]:
df.to_csv("I:/UKB_DATA/table1/all_UKB.csv", index=False)