In [1]:
import pandas as pd
import numpy as np

In [2]:
EXPORTED_RESULTS = "I:/UKB_DATA/results/raw_width/exported_results.tsv"

Because MFI files UKB gave contain some missing pos and chr values, get that from locus info

In [3]:
df = pd.read_csv(EXPORTED_RESULTS, sep='\t')
CHR = np.array([df['locus'][i].split(":")[0] for i in range(len(df))]).astype('uint8')
POS = np.array([df['locus'][i].split(":")[1] for i in range(len(df))]).astype('uint')
df['chr'] = CHR
df['pos'] = POS

In [4]:
df.drop_duplicates(subset=["rsid"], keep='first',inplace=True)

In [5]:
df = df[['chr','pos','ref', 'alt', 'p_value']]

In [6]:
df

         chr       pos ref alt   p_value
0          1     11008   C   G  0.988200
1          1     11012   C   G  0.988200
2          1     13110   G   A  0.077835
3          1     13116   T   G  0.751910
4          1     13118   A   G  0.751910
...      ...       ...  ..  ..       ...
9877916   22  51237063   T   C  0.609490
9877917   22  51237364   A   G  0.553980
9877918   22  51237712   G   A  0.929590
9877919   22  51240820   C   T  0.976500
9877920   22  51244237   C   T  0.708480

[9263464 rows x 5 columns]

In [7]:
df.to_csv("I:/UKB_DATA/results/raw_width/locus_zoom.txt", sep='\t', index=0)