In [1]:
import pandas as pd
import numpy as np

In [2]:
pheno="filter_esv_ratio"

In [5]:
df = pd.read_csv(f"I:/UKB_DATA/results/{pheno}/exported_results.tsv",sep='\t')

In [6]:
df.head()

,locus,alleles,n,sum_x,y_transpose_x,beta,standard_error,t_stat,p_value,v,chr,rsid,pos,ref,alt,maf,info
0,1:13110,"[""G"",""A""]",25740,1228.20,1359.50,-0.000539,0.006640,-0.081120,0.93535,1:13110_G_A,1.0,rs540538026,13110.0,G,A,0.057235,0.39180
1,1:14933,"[""G"",""A""]",25740,1003.40,1105.60,-0.005930,0.007303,-0.811990,0.41680,1:14933_G_A,1.0,rs199856693,14933.0,G,A,0.044219,0.41902
2,1:15777,"[""A"",""G""]",25740,283.05,309.58,-0.015337,0.013519,-1.134500,0.25661,1:15777_A_G,1.0,rs568149713,15777.0,A,G,0.017367,0.35561
3,1:16949,"[""A"",""C""]",25740,468.05,525.34,0.015740,0.010619,1.482300,0.13828,1:16949_A_C,1.0,rs199745162,16949.0,A,C,0.018736,0.46928
4,1:18849,"[""C"",""G""]",25740,50647.00,56095.00,-0.000166,0.008023,-0.020634,0.98354,1:18849_C_G,1.0,rs533090414,18849.0,C,G,0.026580,0.53641

In [7]:
df = df[['rsid', 'chr','pos','ref','alt','beta','standard_error','p_value','info']]

In [9]:
df.rename(columns={'rsid':'snpid', 
                   'chr':'hg18chr',
                   'pos':'bp',
                   'ref':'a1',
                   "alt":'a2',
                   'standard_error':'se',
                   "p_value":'pval',
                   "info":'info'}).to_csv(f"D:/UKB/ldsc/data/exported_results.txt",sep='\t')